html,
body {
    margin: 0;
    height: 100%;
}

.header {
    box-shadow: 1px 1px 1px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.headerPadding {
    width: 578px;
    height: 138px;
    position: absolute;
    left: 45px;
    top: -7px;
}

.headerDivider {
    width: 2px;
    height: 32px;
    position: absolute;
    left: 205px;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.25);
}

.headerText {
    color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
    width: 360px;
    height: 40px;
    position: absolute;
    left: 235px;
    top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    line-height: px;
}

.logo {
    width: 138px;
    height: 138px;
    position: absolute;
    left: 40px;
    top: -6px;
}

.logoIcon {
    width: 138.0001983642578px;
    height: 17.70977783203125px;
    position: absolute;
    left: 0px;
    top: 60.18811798095703px;
    background-image: url(images/delltech.PNG);
}

.home {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    float: right;
}

.home:hover {
    border-color: black;
    border-width: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.home:focus {
    border-color: black;
    border-width: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.pageBody {
    background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.footerBody {
    color: rgba(99.00000169873238, 99.00000169873238, 99.00000169873238, 1);
    width: 597px;
    height: 20px;
    position: absolute;
    left: 422px;
    top: 984px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    line-height: px;
    padding-top: 10px;
}

/*** breadcrumb navigation header info ***/
.breadcrumbContainer { 
	width: 337.64px;
	height: 34.09px;
	position: absolute;
	top: 166px;
	left: 80px;
}

.homeNavContainer { 
	width: 58.72px;
	height: 27.82px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.homeNavIcon { 
	position: absolute;
	left: 5px;
	top: -5px;
}

.navagationArrow1 {
	font-family: Roboto;
	font-size: 28px;
	color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
	width: 120px;
	height: 36px;
	position: absolute;
	left: 65px;
	top: -5px;	
}

.quizNavContainer { 
	width: 200px;
	height: 34.09090805053711px;
	position: absolute;
	left: 75.73px;
	top: 0px;
}

.quizNameText { 
	color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
	width: 200px;
	height: 31px;
	position: absolute;
	left: 25px;
	top: 1.55px;
	font-family: Roboto;
	text-align: left;
	font-size: 18.55px;
	letter-spacing: 0.5;
	line-height: px;
}

.navagationArrow2 {
	font-family: Roboto;
	font-size: 28px;
	color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
	width: 120px;
	height: 36px;
	position: absolute;
	left: 160px;
	top: -5px;	
}

.questionNavContainer { 
	width: 90px;
	height: 34.09px;
	position: absolute;
	left: 275px;
	top: 0px;
}

.qNumberText { 
	color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
	width: 90px;
	height: 31px;
	position: absolute;
	left: 0px;
	top: 1.55px;
	font-family: Roboto;
	text-align: left;
	font-size: 18.55px;
	letter-spacing: 0.5;
	line-height: px;
}

/*** quiz questions, answers, buttons ***/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 250px;
    margin-left: 100px;
}

.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 275px;
    margin-top: 250px;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 275px;
}

.quizBody {
    box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
    background-color: rgba(255, 255, 255, 1);
    width: 898px;
    height: 526px;
    position: absolute;
    left: 272px;
    top: 246px;
}

.quizQuestion {
    color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
    width: 664px;
    height: 154px;
    position: absolute;
    left: 117px;
    top: 66px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0;
    line-height: px;
}

.q1_body {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 80px;
    position: absolute;
    left: 72px;
    top: 248px;
}

.btn {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
    width: 320px;
    height: 80px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
    line-height: px;
}

.btn:hover {
    border-color: black;
    border-width: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.btn:focus{
    border-color: black;
    border-width: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.q2_body {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 80px;
    position: absolute;
    left: 72px;
    top: 376px;
}

.q3_body {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 80px;
    position: absolute;
    left: 506px;
    top: 376px;
}

.q4_body {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 80px;
    position: absolute;
    left: 506px;
    top: 248px;
}

/*** progress bar ***/
:root {
    --border-active: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
    --border-inactive: white;
}

.progressBar {
    align-items: center;
    color: var(--border-active);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 850px auto;
    position: relative;
    width: 700px;
}

.progressBar::before {
    content: "";
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
    background-color: var(--border-inactive);
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    width: 100%;
    transform: translateY(-50%);
    transition: 0.4s ease;
    z-index: 0;
}

.progress {
    background-color: var(--border-active);
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    transform: translateY(-50%);
    transition: 0.4s ease;
    width: 0%;
    z-index: 0;
}

.circle {
    align-items: center;
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
    background-color: white;
    border: 4px solid var(--border-inactive);
    border-radius: 50px;
    color: var(--border-active);
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: 0.4s ease;
    z-index: 1;
}

.circle.active {
    border-color: var(--border-active);
    background-color: var(--border-active);
}

.hide {
    display: none;
}

/*** recommendations page layout elements ***/
.recBodyVisual { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 1440px;
	height: 4132px;
	position: absolute;
}

.recBodyHearing { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 1440px;
	height: 2450px;
	position: absolute;
}

.recBodyCognitive { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 1440px;
	height: 2450px;
	position: absolute;
}

.pageTitle { 
	color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
	width: 604px;
	height: 56px;
	position: absolute;
	left: 40px;
	top: 194px;
	font-family: Roboto;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
	line-height: px;
}

.pageDesc { 
	color: rgba(14.000000115484, 14.000000115484, 14.000000115484, 1);
	width: 1360px;
	height: 120px;
	position: absolute;
	left: 40px;
	top: 256px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.noRecTitle {
	color:red;
	width: 1360px;
	height: 120px;
	position: absolute;
	left: 40px;
	top: 375px;
	font-family: Roboto;
	font-size: 210%;
	text-align: left;
	letter-spacing: 0;
	padding-top: 35px;
	line-height: px;
}

.toolCategory {
	color: rgba(0, 0, 0, 1);
	width: 560px;
	height: 48px;
	position: absolute;
	left: 24px;
	top: 28px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.requestTool {
	width: 120px;
	height: 36px;
	position: absolute;
	left: 0px;
	top: 425px;
}

.requestToolText { 
	color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
	width: 400px;
	height: 36px;
	position: absolute;
	left: -5px;
	top: 0px;
	font-family: Roboto;
	text-align: right;
	font-size: 28px;
	letter-spacing: 0;
}

.requestArrow {
	font-family: Roboto;
	font-size: 28px;
	color: rgba(6.000000117346644, 114.0000008046627, 203.00000309944153, 1);
	width: 120px;
	height: 36px;
	position: absolute;
	left: 402px;
	top: 425px;	
}

/*** no recommendations applicable ***/
.noRecCard {
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 785px;
	height: 75px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.noRecText { 
	color: red;
	width: 780px;
	height: 48px;
	position: absolute;
	left: 10px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	padding-top: 18px;
	line-height: px;
}

/*** recommendations ***/
/*** visual tools ***/
.touchTools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 1136px;
	position: absolute;
	left: 40px;
	top: 420px;
}

.touchLine1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.focusBlue { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.focusBlueTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.focusBlueToolName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.focusBlueToolMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.focusBlueDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.focusBlueDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.braillenoteTouch32 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.braillenoteTouchTitle { 
	width: 394px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.braillenoteTouchName { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.braillenoteTouchMake { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.braillenoteTouchContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.braillenoteTouchDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.sofType5 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.sofTypeTitle { 
	width: 395px;
	height: 140px;
	position: absolute;
	left: 16px;
	top: 34px;
}

.sofTypeName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.sofTypeMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.sofTypeDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.sofTypeDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.touchLine2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 616px;
}

.nonVisualTitle { 
	width: 395px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.nonVisualTitleName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.nonVisualTitleMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.nonVisualDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.nonVisualDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.auditoryTools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 1592px;
}

.auditoryLine1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.windowsNarrator { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.windowsNarratorTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.windowsNarratorName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.windowsNarratorMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family:Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.windowsNarratorDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.windowsNarratorDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.jobSpeech { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.jobSpeechTitle { 
	width: 394px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.jobSpeechName { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.jobSpeechMake { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.jobSpeechDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.jobSpeechDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.immersiveReader { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.immersiveReaderTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.immersiveReaderName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.immersiveReaderMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.immersiveReaderDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.immersiveReaderDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.lightNSizingTools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 1136px;
	position: absolute;
	left: 40px;
	top: 2250px;
}

.lightSizeLine1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.darkMode { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.darkModeTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.darkModeName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.darkModeMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.darkModeDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.darkModeDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.windowsMagnifier { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.windowsMagnifierTitle { 
	width: 394px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.windowsMagnifierName { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.windowsMagnifierMake { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.windowsMagnifierDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.windowsMagnifierDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.zoomText { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.zoomTextTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.zoomTextName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.zoomTextMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.zoomTextDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.zoomTextDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.lightSizeLine2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 616px;
}

.monitor32Title { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.monitor32Name { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.monitor32Make { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.monitor32DescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.monitor32Desc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 72px;
	position: absolute;
	left: 16px;
	top: 271px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.translationTools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 3418px;
}

.translationLine1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.microsoftTranslator { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.microsoftTranslatorTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.microsoftTranslatorName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.microsoftTranslatorMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.microsoftTranslatorDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.microsoftTranslatorDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.dictateTool { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.dictateToolTitle { 
	width: 394px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.dictateToolName { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.dictateToolMake { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.dictateToolDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.dictateToolDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.a11yChecker { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.a11yCheckerTitle { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.a11yCheckerName { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.a11yCheckerMake { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.a11yCheckerDescContainer { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.a11yCheckerDesc { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

/*** hearing tools ***/
.textvisualization2 { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 420px;
}

.textvisualizationline1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.naturallyspeaking2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.naturallyspeakingtitlecontainer2 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.naturallyspeakingtitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.naturallyspeakingsource2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.naturallyspeakingdescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.naturallyspeakingdes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptions2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.teamscaptionstitlecontainer2 { 
	width: 394px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.teamscaptionstitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptionssource2 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptionsdescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.teamscaptionsdes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptions2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.zoomcaptionstitlecontainer2 { 
	width: 395px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.zoomcaptionstitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptionssource2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptionsdescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.zoomcaptionsdes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.narrationtools2 { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 1078px;
}

.naturalreader2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.naturalreadertitlecontainer2 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.naturalreadertitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.naturalreadersource2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.naturalreaderdescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.naturalreaderdes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.readaloud2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.readaloudtitlecontainer2 { 
	width: 394px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.readaloudtitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.readaloudsource2 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.readalouddescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.readalouddes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereader2 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.immersivereadertitlecontainer2 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.immersivereadertitle2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereadersource2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereaderdescontainer2 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.immersivereaderdes2 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

/*** cognitive tools ***/
.narrationtools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 420px;
}

.narrationline1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.naturalreader3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.naturalreadertitlecontainer3 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.naturalreadertitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.naturalreadersource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.naturalreaderdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.naturalreaderdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.readaloud3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.readaloudtitlecontainer3 { 
	width: 394px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.readaloudtitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.readaloudsource3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.readalouddescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.readalouddes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereader3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.immersivereadertitlecontainer3 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.immersivereadertitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereadersource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.immersivereaderdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.immersivereaderdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.textvisualization3 { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 1078px;
}

.naturallyspeaking3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.naturallyspeakingtitlecontainer3 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.naturallyspeakingtitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.naturallyspeakingsource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.naturallyspeakingdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.naturallyspeakingdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptions3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.teamscaptionstitlecontainer3 { 
	width: 394px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.teamscaptionstitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptionssource3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.teamscaptionsdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.teamscaptionsdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptions3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.zoomcaptionstitlecontainer3 { 
	width: 395px;
	height: 148px;
	position: absolute;
	left: 16px;
	top: 30px;
}

.zoomcaptionstitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptionssource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 108px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.zoomcaptionsdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.zoomcaptionsdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.translatingtools { 
	background-color: rgba(255, 255, 255, 1);
	width: 1360px;
	height: 626px;
	position: absolute;
	left: 40px;
	top: 1736px;
}

.translatingtoolsline1 { 
	width: 1313px;
	height: 478px;
	position: absolute;
	left: 24px;
	top: 106px;
}

.microsofttranslator3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.microsofttranslatortitlecontainer3 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.microsofttranslatortitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.microsofttranslatorsource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.microsofttranslatordescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.microsofttranslatordes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.dictate3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 426px;
	height: 478px;
	position: absolute;
	left: 443px;
	top: 0px;
}

.dictatetitlecontainer3 { 
	width: 394px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.dictatetitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.dictatesource3 { 
	color: rgba(0, 0, 0, 1);
	width: 394px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.dictatedescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.dictatedes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 144px;
	position: absolute;
	left: 16px;
	top: 235px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}

.a11ychecker3 { 
	box-shadow: 2px 2px 2px rgba(0, 43.00000123679638, 85.0000025331974, 0.07999999821186066);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 478px;
	position: absolute;
	left: 885px;
	top: 0px;
}

.a11ycheckertitlecontainer3 { 
	width: 395px;
	height: 100px;
	position: absolute;
	left: 16px;
	top: 54px;
}

.a11ycheckertitle3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Roboto;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
	line-height: px;
}

.a11ycheckersource3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 60px;
	font-family: Roboto;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
}

.a11ycheckerdescontainer3 { 
	background-color: rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width: 427px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 207px;
}

.a11ycheckerdes3 { 
	color: rgba(0, 0, 0, 1);
	width: 395px;
	height: 108px;
	position: absolute;
	left: 16px;
	top: 253px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	line-height: px;
}
